@model IEnumerable<CommodityTradingApp.Models.Trade>

<table class="table">
    <thead>
        <tr>
            <th>Trade ID</th>
            <th>Trader ID</th>
            <th>Commodity ID</th>
            <th>Price Per Unit</th>
            <th>Quantity</th>
            <th>Buy/Sell</th>
            <th>Expiry</th>
            <th>Created At</th>
            <th>Bourse</th>
            <th>Mitigation ID</th>
            <th>Is Open</th>
            <th>Contract</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TradeID</td>
                <td>@item.TraderID</td>
                <td>@item.CommodityID</td>
                <td>@item.PricePerUnit.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@(item.IsBuy ? "Buy" : "Sell")</td>
                <td>@item.Expiry.ToString("yyyy-MM-dd")</td>
                <td>@item.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.Bourse</td>
                <td>@item.MitigationID</td>
                <td>@(item.IsOpen ? "Yes" : "No")</td>
                <td>@item.Contract</td>

            </tr>
        }
    </tbody>
</table>
